<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>
<p>
  <strong><ul>Posts:</strong>
  <% @user.posts.each do |post| %>
	<li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
  </ul>

<% if @current_user && @current_user.id == @user.id %>
  <%= link_to 'Edit My Profile', edit_user_path(@user) %> |
  <%= link_to 'Delete My Profile', user_path(@user), method: :delete %>
<% else %>

<% end %>
