<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, id: :post_title, placeholder: 'Title' %>
  </div>

  <div class="field">
    <%= form.text_field :image, id: :post_image, placeholder: 'Link To Image URL' %>
  </div>

  <div class="field">
    <%= form.text_area :body, id: :post_body, placeholder: 'Post Body' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
