<div id="indexPostDiv">
  <strong><ul id="indexThumbs">All Posts:</strong><br /><br />
  <% @posts.each do |post| %>
    <li class="thumbnail" style="background-image:url(<%= Post.find(post.id).image %>)"><br /><a href="/posts/<%= post.id %>"><span id="thumbText"><%= post.title.upcase %></span></a><br /><br /><span id="postUser"><a href='/users/<%= post.user.id %>'><strong><%= post.user.full_name %></strong></a></span></li>
  <% end %>
  </ul>
</div>