<!DOCTYPE html>
<html>
  <head>
    <title>POSTspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Kite+One&effect=emboss" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
     /* width: 120%;*/
      margin: auto;
    }
    </style>
  </head>

  <body>
  <header>

      <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="logoDiv">
            <h1 id="logo"><a href='/'><span class="font-effect-emboss">POST</span><span class="spaceFont">space</span></a></h1>
          <p id="notice"><%= notice %></p>
        </div>
        </div>
        <div class="col-md-4" id="searchDiv">
          
        </div>
        <div class="col-md-4">
          <% if @current_user %>
            <div id="userName">
              <h3><%= @current_user.full_name %></h3>
            </div>
          <% else %>
            <h3 id="pleaseSignin"> Please Sign In Or Create An Account</h3>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-8" id="navbar">
          <% if @current_user %>
          <ul>
            <li><a href="/posts">All Posts</a></li>
            <li><a href="/users/<%= @current_user.id %>">My Profile</a></li>
            <li id="newPost"><a href="/posts/new">New Post</a></li>
            <li><%= link_to 'Sign Out', '/logout', method: :post %></li>
          </ul>
          <% else %>
            
          <% end %>
        </div>
        <div class="col-md-2">
          
        </div>
      </div>
      </div>
    </header>
    <div id="yieldDiv">
    <%= yield %>
    </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" id="copywrite">
          <p>POSTspace</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>